 {% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Add New Task {% endblock title %}

{% block content %}
<div class = "container">
  <div>
    <div class = ".col-md-6 offset-3"></div>
        <h1 class="text-center text-danger my-5"> New Task </h1>
        <form method = "post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type = "submit" class="btn btn-success" href = "{% url 'tasks-list' %}"> Add task </button>
        </form>
  </div>
</div>

{% endblock content %}

