<nav class="navbar navbar-dark bg-light">
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'add_user' %}">Add User</a></li>
      <li><a class="dropdown-item" href="{% url 'add_order' %}">Add Order</a></li>
      <li><a class="dropdown-item" href="{% url 'add_customer' %}">Add Customer</a></li>
      <li><a class="dropdown-item" href="{% url 'add_product' %}">Add Product</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="{% url 'index' %}">Back</a></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Cats</a>
    <ul class="dropdown-menu">

    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">@panterra9111</a>

    </li>
</ul>
 <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
   <a class="btn btn-outline-success" href="{% url 'add_book' %}"> SignUp </a>
      </form>
</nav>
